* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #63a69d;
}

.game {
	width: 60vw;
	height: 50vh;
	margin: 0 auto;
	border-bottom: 2px solid black;
	position: relative;
}

#dino {
	height: 80px;
	width: 65px;
	background-image: url(img/rick/big/3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	position: absolute;
	left: 120px;
	bottom: 0;
}

.moving {
	animation: rickMoves 0.2s infinite ease;
}

#cactus {
	height: 60px;
	width: 100px;
	background-image: url(img/mouse/bigmouse.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	position: absolute;
	right: 100px;
	bottom: 0px;
	animation: cactusMove 2s infinite linear;
}

@keyframes cactusMove {
	0% {
		right: 100px;
	}
	100% {
		right: 100%;
	}
}

.jump {
	animation: jump 1s linear;
}

@keyframes jump {
	0% {
		bottom: 0px;
	}
	30% {
		bottom: 40x;
	}
	50% {
		bottom: 80px;
	}
	80% {
		bottom: 40px;
	}
	100% {
		bottom: 0px;
	}
}

@keyframes rickMoves {
	0% {
		background-image: url(img/rick/big/2.png);
	}
	100% {
		background-image: url(img/rick/big/1.png);
	}
}
